@model WebApplication_MVC_12G.Models.Articulo

@{
    ViewData["Title"] = "Crear Artículo";
}

<h1>Crear</h1>

<h4>Nuevo Artículo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="seccion" class="control-label"></label>
                <select asp-for="seccion" class="form-control" asp-items="Html.GetEnumSelectList<Seccion>()"><option selected="selected" value="">Seleccionar</option></select>
                <span asp-validation-for="seccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contenido" class="control-label"></label>
                <input asp-for="contenido" class="form-control" />
                <span asp-validation-for="contenido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estado" class="control-label"></label>
                <select asp-for="estado" class="form-control" asp-items="Html.GetEnumSelectList<EstadoArticulo>()" disabled><option selected="Esperando Aprobacion" value="ESPERANDO_APROBACION">Esperando Aprobación</option></select>
                <span asp-validation-for="estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="observaciones" class="control-label"></label>
                <input asp-for="observaciones" class="form-control" />
                <span asp-validation-for="observaciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear Artículo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver al listado</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
